@import "@/styles/config/mixins";

.input {
	all: unset;
	box-sizing: border-box;
	@include typography(body, md);
	color: var(--color-brand-black);
	border: 1px solid transparent;
	border-bottom-color: #4b4b4b;
	transition: all 0.2s ease-in-out;
	flex: 0 0 auto;

	&__container {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column;
		gap: 6px;

		label:has(~ input:required) {
			&::after {
				content: "*";
				color: #f00;
				margin-left: 5px;
			}
		}
	}

	&__label {
		@include typography(body, md);
	}

	&--error {
		color: var(--color-brand-error);
		border-bottom-color: var(--color-brand-error);
	}

	&--disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
