.avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border: 1px solid var(--color-brand-black);
	background-color: var(--color-brand-white);

	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
	}
}
