@import "@/styles/config/mixins";

.confirmation-modal {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column;

	&-body {
		margin-bottom: 24px;
		color: #000;
	}

	&-footer {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 12px;
		margin-top: auto;
	}
}
