@import "@/styles/config/mixins";

.my-account-review {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column;
	gap: 40px;
	padding: 60px;
	overflow-y: auto;

	@include responsive(phone) {
		width: 100%;
		padding: 40px 20px 40px 60px;
	}

	&-header {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@include typography(heading, h3);
	}

	&-container {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		&__review {
			width: 40%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-flow: column;
			gap: 24px;

			@include responsive(phone) {
				width: 90%;
			}

			&--header {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 16px;

				&__info {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: flex-start;
					flex-flow: column;

					&--name {
						@include typography(heading, h5);
					}
				}
			}

			&--title {
				@include typography(heading, h4);
			}

			&--content {
				width: 100%;

				img {
					object-fit: cover;
					max-width: 100%;
					height: auto;
				}
			}

			&--rating {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				gap: 24px;

				svg {
					width: 24px;
					height: 24px;
					cursor: pointer;
					user-select: none;
				}
			}
		}

		&__form {
			width: 60%;
			height: 350px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-flow: column;
			gap: 24px;
			margin: 24px 0;

			input {
				width: 100%;
			}

			textarea {
				all: unset;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				@include typography(body, md);
				color: var(--color-brand-black);
				border: 1px solid transparent;
				border-bottom-color: #4b4b4b;
				transition: all 0.2s ease-in-out;
				flex: 0 1 auto;
			}

			&--rating {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 24px;

				svg {
					width: 24px;
					height: 24px;
					cursor: pointer;
					user-select: none;
				}
			}

			&--image {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				input {
					display: none;
				}

				label {
					@include init-button();
					border-radius: 500px;
					border: 1px solid transparent;
					white-space: nowrap;
					flex: 0 0 auto;
					background-color: var(--color-brand-white);
					color: var(--color-brand-black);
					border-color: var(--color-brand-black);
					padding: 8px 12px;
					width: 100%;
					margin: 0 auto 0 0;
					@include typography(btn, sm);
				}
			}
		}
	}
}
