@import "@/styles/config/mixins";

.navbar {
	width: 100%;
	height: var(--nav-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-brand-black);
	padding: 0 5%;
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;

	&-left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&-right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 45px;
	}

	&-title {
		@include typography(heading, h4);
		color: #fff;
	}

	&-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		gap: 45px;
	}

	&-link {
		color: var(--color-brand-white);
		text-decoration: none;
		transition: all var(--transition-time) 0.1s;
		@include typography(btn, md);

		&::after {
			background-color: var(--color-brand-white);
		}
	}
}
