@import "@/styles/config/mixins";

.about {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column;

	&-hero {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		&-graphic,
		&-content {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding: 0 5%;
		}

		&-graphic__frame {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			clip-path: path(
				"M25.0001 25L565 25V38.018L565 132.468C565 207.71 565 300.97 565 373.038C565 425.403 541.245 459.99 510.692 483.354C479.274 507.379 440.743 519.245 414.843 523.328C380.413 528.755 345.647 548.842 321.253 565.511C311.006 572.513 302.039 579.3 295 584.893C287.961 579.3 278.994 572.513 268.747 565.511C244.353 548.842 209.587 528.755 175.157 523.328C149.257 519.245 110.726 507.379 79.3076 483.354C48.7548 459.99 24.9999 425.403 25 373.038L25.0001 132.468L25.0001 38.018L25.0001 25Z"
			);
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 50px;
			overflow: hidden;

			img {
				object-fit: cover;
			}
		}

		&-content {
			flex-flow: column;
			gap: 40px;
		}

		&-title {
			@include typography(heading, h1);
			text-decoration: underline;
			color: var(--color-brand-black);
		}

		&-text {
			@include typography(body, md);
			color: var(--color-brand-secondary);
		}
	}

	&-more {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: column;
		gap: 40px;
		padding: 0 10% 36px 10%;

		&-title {
			@include typography(heading, h3);
			text-decoration: underline;
			color: var(--color-brand-black);
		}

		&-text {
			@include typography(body, lg);
			color: var(--color-brand-secondary);
		}
	}
}
