@import "@/styles/config/mixins";

.enquiry {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: var(--nav-height);

	@include responsive(phone) {
		height: auto;
		flex-flow: column;
	}

	&-details,
	&-reviews {
		&-header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: var(--color-brand-white);

			&__title {
				@include typography(heading, h3);
			}

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 4px;
				@include typography(button, md);
			}
		}
	}

	&-details {
		width: 55%;
		padding: 36px 10%;

		@include responsive(phone) {
			width: 100%;
			padding: 36px 5%;
		}

		&-header {
			color: var(--color-brand-black);
			flex-flow: column;
			align-items: flex-start;
			gap: 8px;
		}

		&-form {
			width: 85%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-flow: column;
			gap: 40px;
			margin: 50px 0;
			@include responsive(phone) {
				width: 100%;
			}

			& > * {
				width: 100%;
			}
		}
	}

	&-reviews {
		width: 45%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-flow: column;
		background-size: cover;
		background-position: center;
		background-blend-mode: darken;
		background-color: rgba(0, 0, 0, 0.35);
		background-attachment: fixed;
		overflow: hidden;
		overflow-y: auto;
		padding: 36px 32px;
		gap: 36px;

		@include responsive(phone) {
			width: 100%;
			height: 80vh;
			padding: 36px 5%;
		}

		&-body {
			width: 100%;
		}

		&__review {
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: flex-start;
			flex-flow: column;
			gap: 8px;
			border-radius: 12px;
			background-color: var(--color-brand-white);
			color: var(--color-brand-black);
			padding: 16px;
			margin: 6px;

			&--title {
				@include typography(body, lg);
			}

			&--text {
				@include typography(body, sm);
			}

			&--user {
				@include typography(body, sm);
				font-weight: 700;
				color: var(--color-brand-secondary);
			}
		}
	}
}
