@import "./config/index.scss";

// make the scrollbar transparent
::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: transparent;

	&-thumb {
		background: rgba(0, 0, 0, 0.5);
		border-radius: 500px;
	}

	&-track {
		background: transparent;
	}
}
