@mixin responsive($breakpoint) {
	@if $breakpoint ==phone {
		@media (max-width: 540px) {
			@content;
		}
	}

	@if $breakpoint ==tablet {
		@media (max-width: 768px) {
			@content;
		}
	}

	@if $breakpoint ==desktop {
		@media (max-width: 992px) {
			@content;
		}
	}

	@if $breakpoint ==bigDesktop {
		@media (min-width: 1250px) {
			@content;
		}
	}

	@if $breakpoint ==verticalScreens {
		@media (max-height: 540px) {
			@content;
		}
	}

	@if $breakpoint ==verticalScreenModal {
		@media (max-height: 768px) {
			@content;
		}
	}
}

@mixin color-scheme($mode) {
	@if $mode ==light {
		@media (prefers-color-scheme: light) {
			@content;
		}
	} @else if $mode ==dark {
		@media (prefers-color-scheme: dark) {
			@content;
		}
	}
}

@mixin font(
	$font-family: Poppins,
	$font-size: inherit,
	$font-weight: normal,
	$line-height: initial,
	$color: initial,
	$letter-spacing: initial
) {
	font-family: $font-family, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	color: $color;
	letter-spacing: $letter-spacing;
}

@mixin unselectable() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin init-button {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	@include unselectable();
	transition: all 0.3s ease-in-out;
}

@mixin hide-scrollbar {
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&-thumb {
			background: transparent !important;
		}
	}
}

@mixin typography($type: body, $size: md) {
	@if $type ==heading {
		@if $size ==h1 {
			font-family: var(--font-alice);
			font-size: 80px;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: -0.02em;

			@include responsive(phone) {
				font-size: 61px;
			}
		} @else if $size ==h2 {
			font-family: var(--font-alice);
			font-size: 61px;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: -0.02em;

			@include responsive(phone) {
				font-size: 47px;
			}
		} @else if $size ==h3 {
			font-family: var(--font-alice);
			font-size: 47px;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: -0.02em;

			@include responsive(phone) {
				font-size: 36px;
			}
		} @else if $size ==h4 {
			font-family: var(--font-alice);
			font-size: 36px;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: -0.02em;

			@include responsive(phone) {
				font-size: 27px;
			}
		} @else if $size ==h5 {
			font-family: var(--font-alice);
			font-size: 27px;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: -0.02em;

			@include responsive(phone) {
				font-size: 21px;
			}
		}
	} @else if $type ==body {
		@if $size ==lg {
			font-family: var(--font-noto-sans);
			font-size: 21px;
			font-weight: 500;
			line-height: 170%;
			letter-spacing: -0.01em;

			@include responsive(phone) {
				font-size: 16px;
			}
		} @else if $size ==md {
			font-family: var(--font-noto-sans);
			font-size: 16px;
			font-weight: 500;
			line-height: 170%;
			letter-spacing: -0.01em;

			@include responsive(phone) {
				font-size: 14px;
			}
		} @else if $size ==sm {
			font-family: var(--font-noto-sans);
			font-size: 14px;
			font-weight: 500;
			line-height: 170%;
			letter-spacing: -0.01em;

			@include responsive(phone) {
				font-size: 12px;
			}
		}
	} @else if $type ==btn {
		@if $size ==md {
			font-family: var(--font-noto-sans);
			font-weight: 600;
			font-size: 16px;
			line-height: 120%;

			@include responsive(phone) {
				font-size: 14px;
			}
		} @else if $size ==sm {
			font-family: var(--font-noto-sans);
			font-weight: 500;
			font-size: 14px;
			line-height: 120%;

			@include responsive(phone) {
				font-size: 12px;
			}
		} @else if $size ==lg {
			font-family: var(--font-noto-sans);
			font-weight: 500;
			font-size: 21px;
			line-height: 110%;

			@include responsive(phone) {
				font-size: 16px;
			}
		}
	}
}

@mixin hide-scrollbar {
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&-thumb {
			background: transparent !important;
		}
	}
}

@mixin markdown-styles() {
	h1 {
		@include typography(heading, h1);
		margin: 12px 0;
	}

	h2 {
		@include typography(heading, h2);
		margin: 12px 0;
	}

	h3 {
		@include typography(heading, h3);
		margin: 12px 0;
	}

	h4 {
		@include typography(heading, h4);
		margin: 12px 0;
	}

	h5 {
		@include typography(heading, h5);
		margin: 12px 0;
	}

	h6 {
		@include typography(heading, h6);
		margin: 12px 0;
	}

	p {
		@include typography(body, lg);
	}

	a {
		@include typography(body, lg);
	}

	ul {
		@include typography(body, lg);
	}

	img {
		object-fit: cover;
		max-width: 90%;
		border-radius: 8px;
		margin: 16px auto;
	}

	ol {
		margin: 1rem 3rem;
	}

	ul {
		list-style: none;
		margin: 16px 48px;

		li::marker {
			content: " > ";
		}

		@include responsive(phone) {
			margin: 16px;
		}
	}

	li {
		padding: 4px 16px;
	}

	ol {
		padding: 0 40px 0 10px;

		@include responsive(phone) {
			padding: 0;
		}

		li {
			margin-bottom: 18px;
			@include font(Poppins, 16px, 400, 150%);

			@include responsive(phone) {
				font-size: 14px;
			}
		}
	}

	a {
		color: #1155cc;
		text-decoration: none;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 105%;
			left: 0;
			width: 0;
			height: 1px;
			background-color: #1155cc;
			transition: all var(--transition-time) ease-in-out;
		}

		&:hover::after {
			width: 100%;
		}
	}

	blockquote {
		padding: 1rem 2rem;
		background-color: var(--color-brand-white);
		border: 2px solid var(--color-brand-black);
		position: relative;
		transform-style: preserve-3d;
		margin: 1rem 0;

		&::before {
			content: "";
			position: absolute;
			background-color: var(--color-brand-black);
			width: 100%;
			height: 100%;
			top: 10%;
			left: 1%;
			transform: translateZ(-1px);
			transition: all var(--transition-time) ease-in-out;
		}

		&:hover::before {
			top: 0;
			left: 0;
		}

		cite {
			border-left: 4px solid var(--shadow-elevation-4dp);
			padding: 0.1rem 0.5rem;
			margin: 0.25rem 0;
		}
	}

	code {
		margin: 1rem;
		background-color: var(--tcolor-700);
		color: var(--bgcolor);
		border-radius: 10px;
		padding: 1rem 2rem;
		display: flex;
		flex-flow: column;
		overflow: hidden;
		overflow-x: auto;
		margin: 1rem 0;

		span {
			white-space: nowrap;

			&::-webkit-scrollbar {
				height: 4px;
			}
		}
	}

	table {
		border-spacing: 1;
		border-collapse: collapse;
		background: white;
		border-radius: 10px;
		overflow: hidden;
		width: 100%;
		margin: 16px auto;
		position: relative;

		* {
			position: relative;
		}

		thead th {
			height: 60px;
			background: #36304a;
			color: #ffffff;
			font-family: OpenSans-Regular;
			font-size: 18px;
			color: #fff;
			line-height: 1.2;
			font-weight: unset;
			padding-left: 8px;
			text-align: left;
		}

		tbody tr {
			height: 50px;
			font-family: OpenSans-Regular;
			font-size: 15px;
			color: #808080;
			line-height: 1.2;
			font-weight: unset;

			td {
				padding: 0 0.5rem;
			}

			&:last-child {
				border: 0;
			}

			&:nth-child(even) {
				background-color: #f5f5f5;
			}

			&:hover {
				color: #555555;
				background-color: #f5f5f5;
				cursor: pointer;
			}
		}
	}
}
